/* Base styles */
*{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex; /* Set body as flex container */
    flex-direction: column; /* Default: nav on top, main below */
    background-color: 	#fdf9f9;
}

h1{
    text-align: center;
    margin: 0 auto;

}

h2{
    color: #00a797;
}

nav {
    margin: 0 auto;
    background-color: #333;
    color: aliceblue;
    padding: 20px;
    width: 100%;
    position: sticky;
    top: 0;
    min-width: 400px;
    display: block;
}

#nav-list{
    height: 80px;
    margin: 10px auto;
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: aliceblue;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
}

#nav-list > li{
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

#nav-list > li > a{
    margin: 30px auto;
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    min-width: 12em;
}

#nav-list > li > a:hover{
    background-color: aliceblue;
    color: #333;
}

main {
    padding: 20px;
    width: 100%;
    margin: 20px auto;
}

pre{
    background-color: #cccccc;
    padding: 10px;
    color: #ac0b9f;
}


/* Media query for desktops */
@media only screen and (min-width: 768px) {
    body {
        flex-direction: row; /* Change to row layout for desktops */
    }

    nav {
        order: -1; /* Moves the nav to the left */
        width: 20%; /* Adjust width as needed */
    }

    main {
        width: 80%; /* Adjust width as needed */
    }
    #nav-list{
        margin: 10px auto;
        margin-left: -40px;
        position: sticky;
        top: 0;
        list-style: none;
        color: aliceblue;
        margin-top: 20px;
        padding-top: 20px;
    }
    #nav-list > li{
        width: 100%;
        margin: 20px auto;
        border-bottom: solid 2px aliceblue;
        padding: 20px 0;

    }

    #nav-list >li >a{
        color: aliceblue;
        text-decoration: none;
        font-size: 22px;
        padding: 8px;
        border-radius: 20px;
        width: 12em;
    }

    #nav-list >li >a:hover{

        background-color: aliceblue;
        color: #333;
    }
}


